# generated program files
out/*

# build
build_*
conan2/
CMakeUserPresets.json
# (in case conan is being installed in a venv)
venv/

# vim
*.swp
*.swo

# shell testing
*.sh
*.fish
*.zsh

# other temp files
*.tmp
